:root{
    --primary: #007bff;
    --lightprimary:#0056b3;
    --white:#ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --muted:#777777;
    --whiteBG:#F8FAFC;
}
body{
    position: relative;
}

header{
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    /* width: 90vw; */
    /* padding: 0 10%; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:var(--white);
    border-bottom: 2px var(--silver) solid;
    z-index: 10;
}
.menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: auto;
    /* margin-left: 35%; */
    margin-right: 0;
    
}
.menu li {
    margin: 0 15px;
    list-style: none;
}
.menu li a {
    font-size: 14px;
    text-decoration: 0;
    color: #999;
    position: relative;
}
.menu li a::before{
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #0056b3;
    transition: 0.5s;

}

.menu li a:hover::before{
    width: 100%;
}
.menu li a::after{
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #0056b3;
    transition: 0.5s;

}

.menu li a:hover::after{
    width: 100%;

}
.menu li a:hover{
    color: #000;
}

.button button{
    background-color:#0056b3 ;
    color: var(--white);
    padding: 15px 30px;
    border-radius: 5px;
    margin: 15px 20px;
    border: none;
    cursor: pointer;
 
}


/* sign-up */
#sign-up{
   
   
}
.test{
    width: 40%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px var(--silver) solid;
    margin: 100px auto;
    border-top-right-radius: 30px;
    gap: 20px;
}
#sign-up .h1 {
    width: 100%;
    text-align: center;
    height: 50px;
}
.sign-input {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.sign-input input{
    height: 25px;
    border-radius: 5px;
    border: 2px var(--silver) solid;

}
.check {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.remember label{
    text-decoration: underline;
}
.check .login a {
    color: black;
}
#sign-up button {
    width: 90%;
    margin: auto;
    background-color: var(--lightprimary);
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 40px;
}
.login{
    width: 50%;
}
.check-log{
    width: 50%;
}
#sign-up .login-btn{
    width: 50%;
}
#home .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.button1 {
    display: flex;
    justify-content: space-between;
   
}


.left h1 span{
    color: var(--yellow);
}
.left h1 {
    font-size: 32px;
}

.left .Get {
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    color: white;
}

.right img {
    width: 450px;
    height: 300px;
    border-radius: 32px;
}
.div-bleu{
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
 }
 .logo-bleu{
    display: flex;
    
 }
 .logo-bleu div{
    padding: 20px;
    text-align: center;
    background-color: var(--whiteBG);
    margin: 10px;
    border-radius: 10px;
 }
 .div-bleu .h-bleu {
    color: var(--white);
 }
 .div-bleu .h-bleu h5{
    font-size: 20px;
    font-weight: 100;
 }
.home1 {
    
    display: flex;
    justify-content: space-around;
}


.home1 .right1 .partie2 {
    margin-top: 63px;
    
}
.right1{
    display: flex;
}
.partie2  div, .partie1 div{
    line-height: 12px;
    display: flex;
}
.partie2  div img {
    width: 20px;
    height: 20px;
    margin-top: 12px;
}
.partie1  div img {
    width: 20px;
    height: 20px;
    margin-top: 12px;
}
.FEATUR{
    display: flex;
    font-size: 16px;
    width: 100%;
    
}

.FEATUR-rigth{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px var(--silver) solid;

}

.FEATUR h1 span{
    color: var(--yellow);
}

.gride{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid: gap 20px;
     
    
    
}
.items {
    text-align: center;
    padding: 20px;
    background-color: #F8FAFC;
    justify-content: space-between;
    border-radius: 5px;
    margin: 20px; 

    
}

.History{
   

    text-align: center;
    width: 100%;
    border-bottom: 2px var(--silver) solid;
}

.History-right span{
    color: var(--yellow);
}

.our-history{
    display: flex;
    
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    
}
.our-history-left{
   
    margin-top: 55px;
    margin-left: 3%;
}
.our-history-left img {
    width: 400px;
    height: 300px;
    margin-top: 10px;
    border-radius: 35px;
}
.our-history-right{
    margin-left: 10%;
    margin-top: 70px;
    width: 500px;
    height: 300px;
    background-color: var(--whiteBG);
    border-radius: 10px;
    border:2px  var(--silver) solid;
    padding-left: 29px;
}
.all-meet{
    height: 550px;
    margin-top: 30px;
   
}
.meet{
    text-align: center;
    border-bottom: 2px var(--silver) solid;
    
}
.meet-doctors span{
    color: var(--yellow);
}
.meet-brains::after{
    position: absolute;
    content: "";
    background-color: var(--silver);
    height: 2px;
    width: 1029px;
    left: 165px;
    transform: translateY(-20px);
} 
.all-doctors{
    height: 360px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    padding: 40px;
    gap: 20px;
} 
.doctors{
    width: 250px;
    height: 390px;
    display: flex;
    flex-direction: column;
    border: 2px var(--silver) solid;
    border-radius: 20px;
}
.doctors-top{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding-left: 20px;
}
.doctors-bottom{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    align-content: center;
}
.doctors-top img{
    width: 150px;
    height: 150px;
}
.doctors-bottom button{
    height: 38px;
    width: 150px;
    border: 2px var(--primary) solid;
    color: var(--primary);
    background-color: transparent;
    border-radius: 10px;
}

.Appointment{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}
.contact img{
    height: 350px;
    margin-left: 35px;
    border-radius: 20px;
}
.form{
    width: 650px;
    height:350px ;
    display: flex;
    flex-wrap: wrap;
}
.form-label{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}
.form-label textarea{
    width: 550px;
}
.form-label button{
    width: 550px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
}
.form-label input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
}
.form-label select{
    height: 30px;
    border-radius: 10px;
}
#select{
    width: 260px;
}
#message {
    width: 535px;
    height: 100px;
    resize: none;
}
.checkbox{
    margin-left: 30px;
}.newsletter{
    background-color: var(--silver);
    display: flex;
    flex-direction: column;
    text-align: center;
    

    
}
.Subscribe{
    background-color: #216583;
    height: 200px;
    border-radius: 5px;
    /* margin-left: 150pX; */
    /* margin-right: 300px; */
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 900px;
    color: var(--white);
    
}
.Subscribe input {
    margin-top: 10px;
    padding: 10px;
    color: var(--white);
    border-radius: 5px;
    color: var(--white);
    border: none;
    background-color: #6393a8;
    

}
.Subscribe input::placeholder{
    color: var(--white);
}
.-buttom-{
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    color: var(--defaultLinkColor);
    border: 1px solid;
    width: 200px;
    
}
.div-dentics{
    display: flex;
    background-color: var(--lightprimary);
    color: var(--white);
    margin-bottom: 0px;

    
}
.Dentics{
    text-align: left;
    border-right: 1px var(--silver) solid;
    padding-right:  60px;
    width: 250px; 
    margin: 40px;
   
}
.Dentics img{
    width: 150px;
    filter: brightness(0) invert(1);
    
   
}
.visit{
    text-align: left;
    border-right: 1px var(--silver) solid;
    width: 250px; 
    padding-right:  60px;
    margin: 40px; 
}
.link{
    text-align: left;
    display: flex;
    border-right: 1px var(--silver) solid;
    padding-right:  60px; 
    flex-direction: column;
    width: 250px; 
    margin: 40px;
    
}
.link-child{
    display: flex;
    
}
.link-child .child-right{
    padding-right: 40px;
    line-height: 30px;
    
    
}
.link-child .child-left{
    width: 100px;
    line-height: 30px;
    
}
.link-child a{
    color: white;
    text-decoration: none;
}
.Adress{
    text-align: left;
    margin: 40px;
    padding-right:  60px; 
    width: 250px; 
}
.copy{
    height: 50px;
    color: var(--whiteBG);
    background-color: #216583;
    margin-bottom: 0;
    
}
@media(max-width:1140px) {
    .all-doctors{
        display: flex;
        flex-wrap: wrap;
    } 
    .doctors{
        margin: auto;

    }
   .all-meet{
    height: 900px;
   }   
}
@media(max-width:735px){
    .all-meet{
        height: 1720px;
    } 
}    
 @media (max-width:1289px) {
 
    header {
        padding: 0 20px;
    }
     /* .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
       align-items: center;
       justify-content: center;
       position: relative;
       cursor: pointer;

    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: var(--lightprimary);
        border-radius: 6px;
        box-shadow: 0 10px 0 var(--lightprimary);
        transform: translateY(-10px);
        transition: 0.5s;

    }
    .toggle_menu.active::before{
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 var(--lightprimary);
    }
      .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color:var(--lightprimary);
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;

    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);

    } */
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 69px;
        right: 0;
        width: 200px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
    }
    header .menu.responsive li {
        margin: 15px 0;
        margin-right: 50px;
    }
    .button button{
        margin-right: 60px;
    }
   
  
}
@media(max-width:843px) {

    .left .Get {
        /* padding: 5px 20px; */
        padding: 0;
        width: 160px;
        height: 35px;
        font-size: 12px;
    }
    .right img {
        width: 100%;
        height: 100%;
    }
    .home1 {
    
        display: flex;
        flex-direction: column;
        text-align:  center;
        
    }
    .left1{
        width: 500px;
    }
    .partie1 h1 {
        margin-left: 40%;
        width: 100%;
    }
    .gride{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .our-history-right{
        width: 300px;
        font-size: 10px;
    }
    .our-history-left img {
        width: 100%;
        
    }

    

    
}
@media(max-width:500px) {
    header .menu {
        display: none;

    } 
    header {
        justify-content: space-between;
    }
    body {
        overflow-x: hidden;
    }
    #home .left{
        display: flex;
        flex-direction: column;
        height: 550px;
    }
    #home .top {
        text-align: center;
    } 
    .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
       align-items: center;
       justify-content: center;
       position: relative;
       cursor: pointer;
       
        
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: var(--lightprimary);
        border-radius: 6px;
        box-shadow: 0 10px 0 var(--lightprimary);
        transform: translateY(-10px);
        transition: 0.5s;

    }
    .toggle_menu.active::before{
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 var(--lightprimary);
    }
      .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color:var(--lightprimary);
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;

    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);

    }
    .left .Get {
        margin: auto;
    }
    .div-bleu{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .logo-bleu{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        align-items: center;
        
     }
    .logo-bleu div{
        width: 56%;
        
     }
    .home1 .right1 {
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .right1 .partie1  {
        width: 60%;
    }    
    .right1 .partie2  {
        width: 60%;
    }    
    .right1 .partie1 h1 {
        margin: auto;
        margin-bottom: 20px;
    }    
    
    .gride{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .our-history{
        flex-direction: column;
        align-items: center;
    }
    .our-history-right{
        width: 300px;
        font-size: 14px;
    }
    .Appointment{
        display: flex;
        flex-direction: column;
        
    }
    .contact img{
        height: 400px;
        margin-left: 60px;
        border-radius: 20px;
    }
    .form{
        width: 100%;
        height: 600px;
        margin: auto;
        justify-content: center;
    }
    #message {
        width: 250px; 
    }
    .form-label button{
        width: 250px;
        
    }
    .Subscribe{
        height: 250px;
        width: 100%;
        margin-top: 80px;
    }
    .Subscribe form{
       display: flex;
       flex-direction: column;
    }
    .Subscribe input {
        width: 200px;
        margin: auto;
        margin-bottom: 15px;
    }
    .Subscribe button {
        width: 220px;
        margin: auto;
    }
    .div-dentics{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
    }
    .Dentics{
        width: 250px;
        margin: 10px auto;
        padding-right: 0;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid white;
        text-align: left;
    }
    .visit{
        width: 250px;
        margin: 10px auto;
        padding-right: 0;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid white;
        text-align: left;
    }
    .link{
        flex-direction: column;
        width: 250px;
        margin: 10px auto;
        padding-right: 0;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid white;
        text-align: left;
        /* background-color: #FFD700; */
        
    }
    
    .link .child-left {
        text-align: left;
    }
    .link .child-right {
        text-align: left;
    }
    .Adress{
        width: 250px;
        margin: 10px auto;
        padding-right: 0;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid white;
        text-align: left;
    }
    .link-child{
        margin: auto;
        flex-direction: column;
    }
    .link-child a{
        color: white;
        text-decoration: none;
    }
    
    #sign-up{
        height: 600px;
        width: 60%;
        border: none;
        /* display: flex;
        flex-direction: column;
        border: none;
        margin-top: 70px;
        margin:30px auto; */
    }
    .sign-input {
        width: 80%;
    }
    .check {
        width: 80%;
    }
    #sign-up button {
        width: 80%;
    }
    section #sign-up{
        height: 400px;
        margin-top:120px ;
    }
    #sign-up .login-btn{
        width: 80%;
    }

    
     /* .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         cursor: pointer;
    } 
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #27ae60;
        border-radius: 6px;
        box-shadow: 0 10px 0 #27ae60;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #27ae60
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #27ae60;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
      
    }  */

    /* header .menu. {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
    }
    header .menu {
        margin: 15px 0;
    } */ 

        
    
}


